:root {
  --width: 200px;
  --height: calc(var(--width) / 2);
}

body {
  background-color: #bde0fe;
}

h1 {
  text-align: center;

  color: #03045e;
}
.layer1 {
  width: var(--width);
  height: var(--height);
  background: url("../snowflake.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation:
    toRight linear 6.8s infinite alternate,
    bounce linear 17s infinite alternate;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  48% {
  }
  50% {
    top: calc(100% - var(--height));
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes toRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - var(--width));
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
